body{
  background-color: white;
}

h3{
  padding-top: 2%;
  font-family: trajan-pro-3, serif;
  font-style: normal;
  font-weight: 600;
}


.loginBox{
    margin-top: 25vh;
    margin-left: 20vw;
    border : solid 1px;
    display : inline-block;
    padding: 2em 1em;
    border-radius: 5%;
  box-shadow: 10px 10px 5px 0px silver;
}

.user{
box-sizing: border-box;
display: block;
text-align: center;
}

.btnModif{
  color: white !important;
  background-color:  rgb(9, 41, 59) !important;
  float: right;
}
.formUser{
  width:90%;
  margin: auto;
}


.listeUser{
  margin-top: 15vh;
}

.listeSalle{
  width: 80vw;
  margin: auto;
  padding: -10px;
}

.tabListeSalle{
}

.cardListeSalle{
  margin:1em ;
}

.filtre{
  background-color: rgba(211, 211, 211, 0.6);
  padding-left: 1vw;
  
}

.newSalle{
  padding : 3em;
  border :none;
}

.formSalle{
  margin: auto;
padding-left: 10vh;
}

.tabDivers{
  margin: auto;
  width: 80vw;
}

.newDivers{
  margin: 2em auto;
  width: 80vw;
}

.formReservation{
  margin:  2em;
}

.number {
  width: 4em;
}