.headerListe{
 display: inline-block;
  }

  .btnPlus{
    float: right;
    color: white !important;
    background-color:rgb(11, 47, 77) !important;
  }
  .userListContainer{
    margin-top: 2%;
    width: 70vw;
    
  }
  .theadUserContainer{
background-color:  rgb(11, 47, 77);
  }
  .thdUser{
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-size: 15pt;
    text-align: center;
    color: white;
    
  }
 
  .tdUser{
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-size: 13pt;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    text-align: center;
    
    
  }

  .trUser:hover{
background-color: rgba(11, 47, 77, 0.116);

  }
  .fa-trash-alt{
   color: lightcoral;
  }
  .fa-pencil-alt{
    color: rgb(12, 75, 158);
  }
  .bg-imageUser{
    background-image: url('../img/you-x-ventures-Oalh2MojUuk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }